<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dbhappy.mapper.HolidayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="holidayResultMap" type="com.test.dbhappy.entity.Holiday">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="holiday" property="holiday"/>
        <result column="holiday_name" property="holidayName"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, status,
        holiday, holiday_name
    </sql>

    <select id="selectHoliday" parameterType="com.test.dbhappy.entity.HolidayDTO"
            resultType="java.lang.Integer">
        select sum(status) as status from s_holiday
        <where> 1 = 1
            <if test="startTime != null ">
                and holiday <![CDATA[ >= ]]> str_to_date(#{startTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endTime != null ">
                and holiday <![CDATA[ <= ]]> str_to_date(#{endTime}, '%Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </select>

</mapper>
